@use "../../styles/variables.scss" as vvv;

.super-welcome-container {
  display: flex;
  flex-direction: column;
  font-family: "Secular One", sans-serif;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  position: relative;
  z-index: 3;
  background-color: vvv.$pastelPink;
}
.where-the-hood {
  position: relative;
  display: flex;
  font-size: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  color: vvv.$pastelBabyPink;
  font-family: "Fredoka One", cursive;
  z-index: 2;
  text-shadow: 0px 0px 20px vvv.$pastelFuschia, 0px 0px 30px vvv.$pastelFuschia,
    0px 0px 10px vvv.$pastelFuschia;
  position: relative;
}
.welcome-header {
  font-size: 2.5em;
  display: flex;
  margin: 1em 1em;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  z-index: 2;
  color: vvv.$pastelSukhYellow;
  text-shadow: 0px 0px 20px vvv.$pastelSukhYellow;
  position: relative;
  .welcome-join {
    font-family: "Secular One", sans-serif;
    text-shadow: none;
    color: vvv.$pastelSukhYellow;
    font-size: 0.8em;
    margin: 1em 0em;
  }
}

.discord-btn {
  display: flex;
  align-items: center;
  border: 1px solid vvv.$transparent;
  border-radius: 1em;
  padding: 1em 2em;
  font-size: 0.5em;
  font-family: "Secular One", sans-serif;
  color: vvv.$pastelFuschia;
  cursor: pointer;
  transition: 0.2s ease;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.226);

  background-color: white;
  &:hover {
    border: 1px solid vvv.$pastelBabyPink;

    background-color: vvv.$pastelBabyPink;
    transition: 0.2s ease;
  }
}
.emphasis {
  font-size: 2.5em;
  color: vvv.$pastelPink;
  animation: 0.6s infinite bump;
}
.welcome-container {
  display: flex;
  flex-direction: row;
  max-width: 1280px;
  justify-content: center;
  align-items: center;
  color: vvv.$pastelBabyPink;
  font-family: "Fredoka One", cursive;
}
.pink {
  color: vvv.$pastelSukhYellow;
  font-size: 2em;
  text-shadow: 0px 0px 20px vvv.$pastelFuschia, 0px 0px 30px vvv.$pastelFuschia,
    0px 0px 40px vvv.$pastelFuschia;
}

.word-bg {
  position: fixed;
  top: 0;
  z-index: 0;
  line-height: 1em;
  color: vvv.$pastelPink;
  opacity: 0.2;
  font-size: 7em;
  transform: rotate(90deg);
  white-space: nowrap;

  span {
    position: relative;
    z-index: 5;
  }
  .down {
    color: vvv.$pastelGreyBlue;
  }
  .up {
    color: vvv.$pastelYellow;
  }
}
.rotate {
  position: fixed;
}
.welcome-sample {
  position: absolute;
  max-width: 600px;
  margin-top: 2em;
  border: 1px solid white;
  border-radius: 1em;
  z-index: 0;
}

.divider {
  position: relative;
  z-index: 3;
  height: 150px;
  width: 100%;
}
#canvas {
  position: absolute;
}
.coming-soon {
  font-family: "Secular One", sans-serif;
  font-size: 2em;
  color: vvv.$pastelFuschia;
}
.welcome-content {
  display: flex;
  flex-direction: column;
  color: vvv.$pastelPink;
  position: relative;
  z-index: 6;
  border-radius: 1em;
  padding: 1em;
  margin: 0em 0.5em;
  cursor: pointer;
  font-size: 1.5em;
  font-family: "Secular One", sans-serif;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.226);
  background-color: white;
  transition: 0.2s ease;

  &:hover {
    transition: 0.2s ease;
  }
  .welcome-content-header {
    font-family: "Fredoka One", cursive;
    font-size: 2em;
    color: vvv.$pastelPink;
    display: flex;
    flex-direction: column;
  }
  .hollow {
    font-size: 1.5em;
    -webkit-text-stroke: 1px vvv.$pastelFuschia;
    -webkit-text-fill-color: vvv.$transparent;
  }
}

.up {
  animation: carousel 10s infinite;
}
.down {
  animation: carousel2 10s infinite;
}
.welcome-caret {
  height: 40px;
  width: 40px;
}
.welcome-modal {
  position: fixed;
  top: 0;
  z-index: 10;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.466);
  width: 100vw;
  height: 100vh;
  .modal-box {
    z-index: 11;
    background: linear-gradient(0deg, vvv.$pastelPink, vvv.$pastelGreen);
    max-width: 1180px;
    max-height: 90vh;
    padding: 2em 1em;
    border-radius: 2em;
    height: auto;
    cursor: default;
    width: auto;
    border: 5px solid white;
    transition: 0.2s ease;
    display: flex;
    align-items: center;
  }
  .reverse {
    background: linear-gradient(180deg, vvv.$pastelPink, vvv.$pastelGreen);
  }
  .exit-button {
    border-radius: 1em;
    padding: 0.5em;
    border: none;
    cursor: pointer;
    transition: 0.2s ease;

    border: 3px solid vvv.$transparent;
    &:hover {
      transition: 0.2s ease;
      border: 3px solid white;
    }
  }
  .modal-caret {
    height: 40px;
    cursor: pointer;
    width: 40px;
    transform: rotate(90deg);
    transition: 0.2s ease;

    margin: 0em 1em;
    border-radius: 1em;
    border: 3px solid vvv.$transparent;
    &:hover {
      border: 3px solid white;
      transition: 0.2s ease;
    }
  }
  .modal-caret:last-of-type {
    transform: rotate(-90deg);
  }
  .modal-dot {
    height: 10px;
    width: 10px;
    margin: 1em;
    border-radius: 100%;
    border: 3px solid white;
  }
  .filled {
    background-color: white;
  }
  .modal-dot-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .welcome-modal {
    padding: 0em;
    .modal-box {
      padding: 2em 1em;
    }
  }
  .super-welcome-container {
    max-width: 100vw;
    overflow-x: hidden;
  }
  .where-the-hood {
    flex-direction: column;
    font-size: 1.8em;
    margin-top: 2em;
  }
  .welcome-header {
    font-size: 1.5em;
    margin: 1em 0em;
    overflow-x: hidden;
    white-space: nowrap;
    max-width: 100vw;
    text-shadow: 0px 0px 10px vvv.$pastelSukhYellow;
  }
  .welcome-container {
    flex-direction: column;
    max-width: 100vw;
  }

  .welcome-sample {
    max-width: 95vw;
  }
  .coming-soon {
    font-size: 1.5em;
  }
  .welcome-content {
    font-size: 1em;
    width: auto;
  }
}

@keyframes bump {
  0% {
    transform: scaleX(1);
  }
  10% {
    transform: scaleX(1.2);
  }
  30% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(1);
  }
}
