$primary: #eddeab;
$secondary: #020305;
$tertiary: #3f3047;
$accent1: #ebf6ff;
$accent2: #d4af37;

$pastelBabyPink: #f3d1dc;
$pastelPink: #f6a7c1;
$pastelYellow: #fcf0cf;
$pastelGold: #fdcf76;
$pastelBrown: #b16e4b;

$pastelBlue: #89aeb2;
$pastelCyan: #97f1f3;
$pastelLightBlue: #99d8ff;
$pastelHoney: #f1e0b0;
$pastelCream: #f1cdb0;
$pastelSukhYellow: #fff0ad;
$pastelCandy: #e7cfc8;

$pastelRedPink: #feadb9;
$pastelFuschia: #bc85a3;
$pastelGreyBlue: #9799ba;

$pastelLimeGreen: #adddce;
$pastelGreen: #70ae98;
$pastelSukhGreen: #a2f2bd;
$pastelSukhGreen2: #d7f7a1;
$transparent: rgba(255, 255, 255, 0);
$transparent2: rgba(255, 255, 255, 0.418);
